<div>
    <div class="container-fluid" style="border:2px solid red;">
        <div class="row">
           <div class="col">
             <h4>Improve your profile</h4>
           </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-4">
                <div style="border: 1px solid #e6f2ff; padding: 10px;">
                    <div class="row">
                       <div class="col">
                          <h5 style="display: inline;">This is the left container</h5>
                          <button class="cross">&#10005;</button>
                          <br>This is some text that I am going<br> to use inorder to fill the content <br>on my own.<br> 
                       </div>
                    </div>
                    <div class="row" style="padding-top: 10px;">
                       <div class="col">
                         <button type="button" class="btn btn-primary">Primary</button>
                       </div>
                    </div>
                </div> 
            </div>
            <div class="col-sm-4">
                <div style="border: 1px solid #e6f2ff; padding: 10px;">
                    <div class="row">
                       <div class="col">
                          <h5 style="display: inline;">This is the middle container</h5>
                          <button class="cross">&#10005;</button>
                          <br>This is some text that I am going<br> to use inorder to fill the content <br>on my own.<br> 
                       </div>
                    </div>
                    <div class="row" style="padding-top: 10px;">
                       <div class="col">
                         <button type="button" class="btn btn-primary">Primary</button>
                       </div>
                    </div>
                </div> 
            </div>
            <div class="col-sm-4">
                <div style="border: 1px solid #e6f2ff; padding: 10px;">
                    <div class="row">
                       <div class="col">
                          <h5 style="display: inline;">This is the right container</h5>
                          <button class="cross">&#10005;</button>
                          <br>This is some text that I am going<br> to use inorder to fill the content <br>on my own.<br> 
                       </div>
                    </div>
                    <div class="row" style="padding-top: 10px;">
                       <div class="col">
                         <button type="button" class="btn btn-primary">Primary</button>
                       </div>
                    </div>
                </div> 
            </div>
        </div>
     </div>
</div>