<div>
    <div class="container-fluid" >
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6" style="border: 1px solid red;padding:10px;">
            <div class="row">
              <div class="col">
                <h4 class="same">Queries and Questions</h4>
                <button type="button" data-toggle="dropdown" class="cross">All questions</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div style="margin-top: 10px">
                    <div class="bluebox">
                       <h6>Was <span style="color: blue">Sangharsha</span> here before 2 A.M. ?</h6>
                       <span class="small">2020-10-05 08:15:06 UTC</span>
                    </div>
                    <div class="bluebox">
                       <h6>Where had <span style="color: blue">Peter</span> been before he joined him?</h6>
                       <span class="small">2020-12-05 08:15:33 UTC</span>
                    </div>
                    <div class="bluebox">
                       <h6>What is the price set by <span style="color: blue">Ravi</span> .</h6>
                       <span class="small">2020-12-04 05:34:30 UTC</span>
                    </div>
                    <br>
                 </div> 
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6" style="border: 1px solid red; padding:10px;">
            <div class="row">
                <div class="col">
                    <h4 class="same">Answers and solutions</h4>
                    <button type="button" data-toggle="dropdown" class="cross">All answers</button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <div style="margin-top: 10px">
                        <div class="bluebox">
                           <h6><span style="color: blue">Peter England</span> was here before 2 A.M.</h6>
                           <span class="small">2020-11-03 08:23:34 UTC</span>
                        </div>
                        <div class="bluebox">
                           <h6>The great <span style="color: blue">Allen solley</span> has offered a huge deal.</h6>
                           <span class="small">2020-10-05 02:15:06 UTC</span>
                        </div>
                        <div class="bluebox">
                           <h6><span style="color: blue">Sangharsha</span> must be here itself.</h6>
                           <span class="small">2020-10-03 09:33:01 UTC</span>
                        </div>
                     </div>
                </div>
              </div>
          </div>
        </div>  
    </div>
</div>