<div>
    <div class="container-fluid" >
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6" style="border: 1px solid red;padding:10px;">
            <div class="row">
              <div class="col">
                <h4 class="same">Calendar</h4>
                <button type="button" data-toggle="dropdown" class="cross">Today's tasks</button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div style="margin-top: 10px">
                    <div class="bluebox">
                       <h6><span style="color: blue">This</span> must be here itself by <span style="color: blue">Tuesday</span>.</h6>
                       <span class="small">2020-10-03 09:33:01 UTC</span>
                    </div>
                    <div class="bluebox">
                       <h6><span style="color: blue">He</span> should be there from <span style="color: blue">Sunday</span>.</h6>
                       <span class="small">2020-10-03 09:33:01 UTC</span>
                    </div>
                    <div class="bluebox">
                       <h6><span style="color: blue">You will</span> be joining us from<span style="color: blue">Monday</span> onwards.</h6>
                       <span class="small">2020-10-03 09:33:01 UTC</span>
                    </div>
                    <div class="bluebox">
                       <h6><span style="color: blue">We have</span> been here since<span style="color: blue">Monday</span>.</h6>
                       <span class="small">2020-10-03 09:33:01 UTC</span>
                    </div>
                    <div class="bluebox">
                       <h6><span style="color: blue">We have</span> been here since<span style="color: blue">Monday</span>.</h6>
                       <span class="small">2020-10-03 09:33:01 UTC</span>
                    </div>
                 </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6" style="border: 1px solid red; padding:10px;">
            <div class="row">
                <div class="col">
                    <h4 class="same">Progress till now</h4>
                    <button type="button" data-toggle="dropdown" class="cross">See today</button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <div style="margin-top: 10px">
                        <div class="bluebox">
                           <i class="glyphicon glyphicon-user" style="font-size:24px;"></i>
                           <h6 style="display: inline;"><span style="color: blue">We have</span> been here since<span style="color: blue"> Monday</span> only.</h6>
                           <br>
                           <span class="small">2020-10-03 09:33:01 UTC</span>
                        </div>
                        <div class="bluebox">
                           <i class="glyphicon glyphicon-user" style="font-size:24px;"></i>
                           <h6 style="display: inline;"><span style="color: blue">All the courses</span> were updated on<span style="color: blue"> Monday</span> itself.</h6>
                           <br>
                           <span class="small">2020-10-03 09:33:01 UTC</span>
                        </div>
                        <div class="bluebox">
                           <i class="glyphicon glyphicon-user" style="font-size:24px;"></i>
                           <h6 style="display: inline;"><span style="color: blue">We have</span> been here since <span style="color: blue">Monday</span>.</h6>
                           <br>
                           <span class="small">2020-10-03 09:33:01 UTC</span>
                        </div>
                        <div class="bluebox">
                           <i class="glyphicon glyphicon-user" style="font-size:24px;"></i>
                           <h6 style="display: inline;"><span style="color: blue">We have</span> all the members joining us from<span style="color: blue"> Wednesday</span>.</h6>
                           <br>
                           <span class="small">2020-10-03 09:33:01 UTC</span>
                        </div>
                        <div class="bluebox">
                           <i class="glyphicon glyphicon-user" style="font-size:24px;"></i>
                           <h6 style="display: inline;"><span style="color: blue">We have</span> been here since<span style="color: blue">Monday</span> not yesterday.</h6>
                           <br>
                           <span class="small">2020-10-03 09:33:01 UTC</span>
                        </div>
                     </div>
                </div>
              </div>
          </div>
        </div>  
    </div>
</div>